
configuration {
  display-drun: " ";
  display-window: "Windows";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font 10";
//  show-icons: true;
}

// @theme "theme.rasi"

//@theme "/home/mayank/.local/share/rofi/themes/simple-tokyonight.rasi"
@theme "/home/mayank/.local/share/rofi/themes/squared-nord.rasi"
